# Build output
dist/
dist-ssr/

# Dependencies
node_modules/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Editor
*.local

# local env files
.env*.local

# typescript
*.tsbuildinfo
