# macOS
.DS_Store

# Environment
.env
.env.local

# Frontend
frontend/node_modules/
frontend/.expo/
frontend/dist/

# Backend
backend/venv/
backend/__pycache__/
backend/.env

# Python
*.pyc

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*